@model FreeRecycle.Data.Models.Item

@{
    ViewBag.Title = "Delete";
}


<div class="banner text-center mdb-color lighten-2 white-text mx-2 mb-5 col-sm-12">
    <h1>FreeRecycle</h1>
    <p>
        FreeRecycle's an online plateform for buying, selling and donating spare things to those in need.
    </p>
    @Html.ActionLink("Back To List", "Index", "Items")
</div>

<div class="breakDiv">.</div>

<div class="content">
<h3>Are you sure you want to delete this item?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Back To List", "Index", "Items")
                <input type="submit" value="Delete" class="btn btn-danger inputBtn" />

            </div>
            }
        </dd>
    </dl>

</div>

</div>