@model IEnumerable<FreeRecycle.Data.Models.Item>

@{
    ViewBag.Title = "Index";
}

    <div class="banner text-center mdb-color lighten-2 white-text mx-2 mb-5 col-sm-12">
            <h1>FreeRecycle</h1>
            <p>FreeRecycle's an online plateform for buying, selling and donating spare things to those in need.</p>
              <p> There are currently (@Model.Count()) items available on our site. Please do feel free to add more items to the list or browse and contact for the items that you are interested.
            </p>
            @Html.ActionLink("Back", "Index", "Home")

    </div>
<div class="breakDiv">.</div>
<div class="content">
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th scope="col" width="20%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                <a href="@Url.Action("Create", "Items")" class="btn btn-success">
                    Add New Item
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="cut-text">
                    @Html.DisplayFor(modelItem => item.Description)

                </div>
            </td>
            <td>

                <a href='@Url.Action("Details", "Items", new { id = item.Id })' class="btn btn-default" style="margin: 1%;">View</a>
                <a href='@Url.Action("Delete", "Items", new { id = item.Id })' class="btn btn-danger" style="margin: 1%;">Delete</a>

                <a href='@Url.Action("Edit", "Items", new { id = item.Id })' class="btn btn-info top-left" style="margin: 1%">Edit</a>
            </td>
        </tr>
        }
        
    </tbody>
</table>
</div>
